
  
  .form-container {
    padding: 10px;
  }
  
  .form {
    min-width: 150px;
   
    width: 100%;
  }
  
  .form-element {
    padding: 5px 0px 15px 2px;
    width: 100%;
  }
  .editor-cancel-button{
    // margin-right:10px;
    color:#536DFE;
    font-size:14px;
   
    border-color: #526CFE;
    background: white;
   margin: 10px;
    height: 40px; 
    width: 100px;
    
  }
  .editor-save-buton{
    color:#FFFFFF;
    width: 100px;
    margin: 10px;
    font-size:14px;
    background-color: #536DFE;
  
    border-color: #536DFE;
  
    height: 40px;
    // margin-right: 15px;
   
  
}